a#fyrebrick.navbar-brand(href='/')
        img(src="/images/logo-grey.svg" width="30" height="30" alt="FyreBrick")
button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
#navbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.mt-lg-0.mt-2
        li
            a.narrow#inventory.not-active.nav-item.nav-link(href='/my/inventory' role='button' aria-haspopup='true' aria-expanded='false' )
                |   Inventory
        li
            a.narrow#orders.not-active.nav-item.nav-link(href='/my/orders' role='button')
                |    Orders
        li
            a.narrow#account.nav-item.nav-link(href='/my/settings' role='button' aria-haspopup='true' aria-expanded='false')
                |   Account

    span.navbar-text="v"+version+" "+mode+" "+type