.row.justify-content-center
    script.
        $(document).ready(function() {
                $('.alert-success').delay(1500).fadeOut('slow');
            }
        );
    .col-12
        if messages.danger
            each message in messages.danger
                div.alert-message(class="alert alert-danger alert-dismissible fade show" role="alert")=message
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;
        if messages.warning
            each message in messages.warning
                div.alert-message(class="alert alert-warning alert-dismissible fade show" role="alert")=message
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;
        if messages.success
            each message in messages.success
                div.alert-message(class="alert alert-success fade show" role="alert")=message
        if messages.info
            each message in messages.info
                div.alert-message.alert.alert-info.alert-dismissible.fade.fadeOut.show(role="alert")=message
                    button.close(type='button', data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;