if !in_production
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='background-color: #0c46da !important;')
        include _parts/_mainNavbar
else
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        include _parts/_mainNavbar
