nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a#fyrebrick.navbar-brand(href='/')
        img(src="/images/logo-grey.svg" width="30" height="30" alt="FyreBrick")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-lg-0.mt-2
            li
                .dropdown
                    a#inventory.not-active.nav-item.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' )
                        | Inventory
                        .dropdown-menu(aria-labelledby='inventory')
                            a.dropdown-item(href='/inventories')
                                i.fas.fa-boxes
                                span search
                            a.dropdown-item(href='/invest')
                                i.fas.fa-search
                                span Investigate
                            a.dropdown-item.disabled(href='/add')
                                i.far.fa-plus-square
                                span Add items
            li
                .dropdown
                    a#orders.not-active.nav-item.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        |    Orders
                        .dropdown-menu(aria-labelledby='orders')
                            a.dropdown-item(href='/orders/new')
                                span new orders
            li
                .dropdown
                    a#account.nav-item.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        |   Account
                        .dropdown-menu(aria-labelledby='account')
                            a.dropdown-item.disabled(href="/stats")
                                i.fas.fa-chart-line
                                span Statistics
                            a.dropdown-item(href="/change")
                                i.fas.fa-wrench
                                span change your settings
                            a.dropdown-item(href="/logout")
                                i.fas.fa-sign-out-alt
                                span logout
        span.navbar-text="v"+version+" "+mode+" "+type
