style.
    a.dropdown-item span {
        float:right;
        margin-top: -5px;
    }
    a.dropdown-item span, a.dropdown-item i{
        font-size: 23px;
    }
    .dropdown-menu{
        width: 244px !important;
    }
    .data-status{
        text-align: center;
    }
    tr{
        text-align: center;
    }
    img{
        width: 200px;
    }

    input[type='checkbox'] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(5); /* IE */
        -moz-transform: scale(5); /* FF */
        -webkit-transform: scale(5); /* Safari and Chrome */
        -o-transform: scale(5); /* Opera */
        padding: 25px;
    }
    .text-white a {
        text-decoration: none;
        color: #FFFFFF;
    }
    .bigger-text {
        margin-left: 76px;
        font-size: 23px;
    }
block styles
