extends layout
block content
    .row.justify-content-between
        .col-2
            #loadingSection
        .col
            input#search.form-control(name="search" type='search' placeholder='Search' aria-label='Search')
        .col-auto.align-self-end.mr-auto
            .btn-group(role='group' aria-label='Group of action buttons')#mainButtonRows
                button#searchButton.btn.btn-outline-success.btn-lg.my-2.my-sm-0(type='submit') Search
    hr
    #main
block styles
    style.
        [type="search"] {
            font-size: 34px;
        }
        #searchButton{
            height: 65px;
        }

block scripts
    script.
        $(document).ready(function () {
            //init constant variables
            const searchBarHTML = "";
            const loadingSpinnerHTML = "<button id=\"spinner\" class=\"btn btn-primary btn-lg my-2 my-sm-0\" type=\"button\" disabled>\n" + "  <span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" + "  Loading...\n" + "</button>";
            const imagesShowHTML = "";
            const colorListHTML = "";
            const remarks = "";
            //attach main listeners to DOM
            mainListeners();
            //functions below here
            function search(e){
                $("#main").empty()
                $.ajax({
                    method: "POST",
                    url: "/add/search",
                    data: {
                        search:$("#search").val()
                    },
                    beforeSend: startLoading
                }).done(function (data) {
                    let stringCardsHtml = "";
                    if(data.data && data.data.length){
                        console.log(data);
                         data.data.forEach(function (o){
                             stringCardsHtml+="<div class=\"card\" style=\"width: 18rem;\">\n" +
                                 "                                     <img src=\"" + o.image_url + "\" class=\"card-img-top\" alt=\"" + o.description + "\">\n" +
                            "                                     <div class=\"card-body\">\n"+
                                                                    "<h5 class=\"card-title\">"+o.name+"</h5>" +
                                                                    "<h6 class=\"card-subtitle mb-2 text-muted\">Item no " + o.no + " (" + o.type + ")</h6>"+
                            "                                         <p class=\"card-text\">"+o.description+"</p>\n"+
                                                                    "<button id='"+o.type.substr(-o.type.length,1)+o.no+"' data-type='"+o.type.toUpperCase()+"' data-no='"+o.no+"' class=\"btn btn-primary use-item\">Use this item</a>"
                            "                                     </div>\n"+
                            "                                 </div>"
                        });
                    }else{
                        stringCardsHtml="<div class=\"alert alert-warning\" role=\"alert\">\n" +
                                        "                          Nothing found, try the searching in bricklink <a target='-blank' href='https://www.bricklink.com/v2/search.page?q="+$("#search").val()+"'> here</a>"+
                                        "                        </div>";
                        //nothing found
                    }
                    $("#main").append(stringCardsHtml);
                    searchListening()
                   stopLoading();
                })
                .fail(function (data){
                    $("#spinner").empty()
                    .append("Something went wrong, please reload");
                });
            }
            function getKnowColorSelector(e){
                $.ajax({
                    method: "POST",
                    url: "/add/getknowncolours",
                    data: {
                        type:$("#"+e.target.id).data('type').toUpperCase().trim(),
                        no:$("#"+e.target.id).data('no')
                    },
                    beforeSend: startLoading
                }).done(function(data){
                    //receives [{color_id,quantity}]
                    console.log("done");
                    let knowColorsHTML = "<ul class=\"list-group\">\n";
                    data.data.forEach(function(o){
                        knowColorsHTML += "<li class=\"list-group-item\" id='"+o.color_id+"'>"+getInfoFromColorId(o.color_id).name+" qty("+o.qty+")";
                        knowColorsHTML += "<label for='"+o.color_id+"'>"+getInfoFromColorId(o.color_id).name+" qty("+o.qty+")+</label>"
                        knowColorsHTML += "<input id='"+o.color_id+"' type='checkbox'></input>"
                        knowColorsHTML+= "</li>\n";
                    });
                    knowColorsHTML += "</ul>";
                    console.log(knowColorsHTML);
                    $("#main").empty();
                    $("#main").append(knowColorsHTML);
                    stopLoading();
                });
            }
            function getInfoFromColorId(color_id){
                //TODO lots of work! 0 - 157
                return {rgb:"#000000",name:"not implemented yet"};
            }
            function searchListening(){
                document.querySelectorAll(".use-item").forEach(function (item) {
                    item.addEventListener('click',getKnowColorSelector );
                });
            }
            function stopLoading(){
                $("#loadingSection").empty();
            }
            function startLoading(){
                $("#loadingSection").append(loadingSpinnerHTML);
            }
            function mainListeners(){
                //search listeners
                this.addEventListener('onsubmit', function (e) {
                    document.getElementById("searchButton").click();
                });
                document.getElementById('search')
                    .addEventListener('keyup', function (e) {
                        if (e.code === 'Enter') {
                            document.getElementById("searchButton").click();
                            document.getElementById('search').focus();
                            document.getElementById('search').select();
                        }
                    });
                document.getElementById("searchButton").addEventListener('click', search); //TODO:add function to listener
            }
        });

