extends layout
block content
    .container-fluid
        .row
            .col
                .card
                    .card-body
                        .jumbotron
                            h1.display-4=status
                            p.lead=message
                            if description
                                hr.my-4
                                p=description
