extends layout
block content
    table#table_id.display
        thead
            tr
                th.data-class-name Order Id
                th Date Ordered
                th Buyer name
                th Status
                /////////////////////////////////
block styles
    style.
        td {
            font-size: 41px;
            font-weight: bold;
        }

        .badge-primary {
            padding: 20px;
        }

        [type="search"] {
            font-size: 41px;
        }
block scripts
    script.
        $(document).ready(function () {
            $('#table_id').DataTable({
                "order": [[ 0, "desc" ]],
                ajax: {                    url: '/api/orders?direction=in', dataSrc: 'data'                },
                columns:[
                    {                        data:'order_id',
                        "render": function (data, type, row, meta) {
                            return "<a href=\"\/orders\/"+data+"\/items\" id=\"order_id\""+data+"\" class=\"badge badge-primary\" >" + data + "</a>";}
                    },
                    {                        data:'date_ordered',
                        render:function(data,type,row,meta){
                            let d = new Date(data);
                            const options = { year: 'numeric', month: 'long', day: 'numeric'};
                            return d.toLocaleDateString('nl-BE', options)+" @ "+d.toLocaleTimeString('nl-BE', { hour: '2-digit', minute: '2-digit' })}
                    },

                    {data:'buyer_name'},
                    {data:'status',
                        render:function(data,type,row,meta){
                        switch(data){
                            case 'COMPLETED':
                                return "<i class=\"fas fa-check-double data-status\"></i>";
                            case 'READY':
                                return "<i class=\"fas fa-check data-status\"></i>";
                            case 'PAID':
                                return "<i class=\"fas fa-dollar-sign data-status\"></i>";
                            case 'PACKED':
                                return "<i class=\"fas fa-box data-status\"></i>";
                            case 'SHIPPED':
                                return "<i class=\"fas fa-shipping-fast data-status\"></i>";
                            case 'RECEIVED':
                                return "<i class=\"fas fa-box-open data-status\"></i>";
                            case 'UPDATED':
                                return "<i class=\"fas fa-clipboard-list data-status\"></i>";
                            case 'PENDING':
                                return "<i class=\"fas fa-hourglass data-status\"></i>";
                            default:
                                return"error"
                        }
                        }}
                ]
            });
        });
