extends layout
block styles
    link(rel="stylesheet", href="style.css")
block content
    .row.justify-content-between
        .col-2
            #loadingSection
        .col
            input#search.form-control(type='search' placeholder='Search' aria-label='Search')
        .col-auto.align-self-end.mr-auto
            .btn-group(role='group' aria-label='Group of action buttons')#mainButtonRows
                button#searchButton.btn.btn-outline-success.btn-lg.my-2.my-sm-0(type='submit') Search
                button#activateChangeRemarkButton.btn.btn-lg.btn-outline-secondary.my-2.my-sm-0(type='submit') Change remark
                button#scanOptionButton.btn.btn-lg.btn-outline-secondary.my-2.my-sm-0 Exact Search
                    input#scanoption(type="checkbox" value="true" )
    hr

    #qtyModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    p#qtyId(style='display:none;')
                    h5#qtyTitle.modal-title Add or remove quantity to this item
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            p.lead#qtyLabelCurrent(for="qtyInput") Current :
                                span#qtyNumberCurrent.qtyNumber 0
                            p.lead#qtyLabelNext(for="qtyInput") Updated :
                                span.qtyNumber#qtyNumberNext ?
                            .input-group
                                .input-group-prepend
                                    span#inputIndicator.input-group-text ?
                                input#qtyInput.form-control(type="number", step="1" min="0", placeholder="Quantity to add or remove")
                        .row
                            button#qtyButtonAdd.buttonBig.buttonModal.btn.btn-success(type="button") Add
                            button#qtyButtonRemove.buttonBig.buttonModal.btn.btn-danger(type="button") Remove
                .modal-footer
                    button#qtyButtonSubmit.buttonBig.btn.btn-secondary(type="submit") update
    #changeRemarkModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5#changeRemarkTitle.modal-title Change selected Inventory lots' remark
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span#labelUpdateRemark.input-group-text Input the remark to update
                                input#inputUpdateRemark.form-control(type="text", placeholder="...")
                .modal-footer
                    button#changeRemarkFinish.buttonBig.btn.btn-secondary(type="submit") update
    #drawTable
        table#table_id.table.table-striped
            thead#headOfTable.thead-dark
                tr
                    th(scope='col' id='scanOptionCol') Link
                    th(scope="col") Remark
                    th(scope="col") Colour
                    th.data-class-name(scope="col") Qt
                    th(scope="col") N/U
                    th(scope="col") Fotootje
            tbody#bodyOfTable
block scripts
    script(src="/js/inventory.js")
