extends layout
block styles
    style.
        td {
            font-size: 41px;
            font-weight: bold;
        }
        [type="search"] {
            font-size: 34px;
        }
        #searchButton{
            height: 65px;
        }
        .dataTables_filter, .dataTables_info { display: none; }
        .buttonBig{
            width:200px;
            height:80px;
            font-size:20px;
        }
        .buttonModal {
            margin-left: 25px;
            margin-right: 25px;
            font-size: 31px !important;
            flex:auto;
            postition:relative;
        }
        #inputIndicator, #qtyInput {
            height: 60px;
            font-size:30px;
        }
        #inputIndicator {
            width: 58px;
            padding-left: 21px;
        }
        .qtyNumber{
            margin-left:10px;
            font-size:20px;
            font-weight: 600;
         }
        .redRow{
            border: 3px solid darkred;
            outline: none;
            box-shadow: 0 0 10px darkred;
        }
        .redRow td{
            background-color: hsla(0, 100%, 27%, 0.25);
        }
        .checkboxChangeRemarks{
            top: 30px;
            position: relative;
        }
        .greenRow{
            border: 3px solid darkgreen;
            outline: none;
            box-shadow: 0 0 10px darkgreen;
        }

        .greenRow td {
            background-color: hsla(120, 100%, 20%, 0.25);
        }

block content
    .row
        .col-2
            #loadingSection
        .col-10
            div.form-inline.float-right#mainButtonRows
                input#search.form-control.mr-sm-2(type='search' placeholder='Search on remark' aria-label='Search')
                button#searchButton.btn.btn-outline-success.btn-lg.my-2.my-sm-0.mr-2(type='submit') Search
                button#activateChangeRemarkButton.btn.btn-outline-secondary.my-2.mr-2.my-sm-0(type='submit') Change remark

    #qtyModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    p#qtyId(style='display:none;')
                    h5#qtyTitle.modal-title Add or remove quantity to this item
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            p.lead#qtyLabelCurrent(for="qtyInput") Current :
                                span#qtyNumberCurrent.qtyNumber 0
                            p.lead#qtyLabelNext(for="qtyInput") Updated :
                                span.qtyNumber#qtyNumberNext ?
                            .input-group
                                .input-group-prepend
                                    span#inputIndicator.input-group-text ?
                                input#qtyInput.form-control(type="number", step="1" min="0", placeholder="Quantity to add or remove")
                        .row
                            button#qtyButtonAdd.buttonBig.buttonModal.btn.btn-success(type="button") Add
                            button#qtyButtonRemove.buttonBig.buttonModal.btn.btn-danger(type="button") Remove
                .modal-footer
                    button#qtyButtonSubmit.buttonBig.btn.btn-secondary(type="submit") update
    #changeRemarkModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5#changeRemarkTitle.modal-title Change selected Inventory lots' remark
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span#labelUpdateRemark.input-group-text Input the remark to update
                                input#inputUpdateRemark.form-control(type="text", placeholder="...")
                .modal-footer
                    button#changeRemarkFinish.buttonBig.btn.btn-secondary(type="submit") update
    #drawTable
        table#table_id.table.table-striped
            thead#headOfTable.thead-dark
                tr
                    th(scope="col") Remark
                    th(scope="col") Colour
                    th.data-class-name(scope="col") Qt
                    th(scope="col") N/U
                    th(scope="col") Fotootje
            tbody#bodyOfTable
block scripts
    script.
        function showModalChangeRemark() {
            $("#changeRemarkModal").modal('show');
        }

        $(document).ready(function () {
            //change remarks feature
            let stateofChangeRemarkButton = false;
            let searchValue = "";
            let showUpdateButton = false;

            function revertOutOfChangeRemarkState() {
                $("#activateChangeRemarkButton").removeClass("btn-primary").addClass("btn-outline-secondary");
                $("#checkHeader").remove();
                $(".checkRow").remove();
                $("#updateButton").remove();
                $("#changeRemarkModal").modal('hide');
                try {
                    showUpdateButton = false;
                    searchValue = "";
                    stateofChangeRemarkButton = false;
                } catch (e) {
                }
                ;
            };

            $("#activateChangeRemarkButton").click(function(){
               if(stateofChangeRemarkButton){
                   //deactive change remark state
                   if($("#checkHeader").html()===" Check"){ //be sure that not already deleted
                       revertOutOfChangeRemarkState();
                   }
                   //removes red glowing rows
                   $("#bodyOfTable tr").removeClass("redRow");

               }else if(!stateofChangeRemarkButton && searchValue.trim()){
                   //ACTIVE change remark state
                    $(this).removeClass("btn-outline-secondary").addClass("btn-primary"); //looks like function is active
                    //add extra collumn
                    $("#headOfTable tr").prepend("<th id='checkHeader' scope='col' > Check</th>")
                   $("#bodyOfTable tr").each(function(){
                        let idOfCurrentRow = $(this).attr('id');
                        $(this).prepend("<td class='checkRow'><div class=\"custom-control custom-checkbox\">\n" +
                            "  <input type=\"checkbox\" class=\"checkboxChangeRemarks\" name=\""+idOfCurrentRow+"\">" +
                            "</div></td>")
                   });

               }
                stateofChangeRemarkButton = !stateofChangeRemarkButton;
            });

            $("#changeRemarkFinish").click(function(){ //button was pressed to change remarks
                //gather all selected inventoryId's
                let ids = [];
                $(".checkboxChangeRemarks").each(function(){
                    if(this.checked){ids.push($(this).attr('name'));};
                });
                let newRemarkName = $("#inputUpdateRemark").val().toUpperCase();
                let body = {
                    ids:JSON.stringify(ids),
                    newRemarkName:newRemarkName
                };
                console.log(body);
                //api call here
                $.ajax({
                    method: "PUT",
                    url: '/api/change_remark',
                    data: body,
                }).done(function (data) {
                    $(".redRow").removeClass("redRow").addClass("greenRow");
                    revertOutOfChangeRemarkState();
                    ///TODO: show message based on success
                });
                //end api call


            })

            //end change remarks feature

            //preventDefaults
            $('table#table_id').on('mousedown', 'input', function (e) {
                e.preventDefault();
                if ($(e.target).is("input.checkers")) {
                    let state = $(this).is(":checked");
                    $("#" + this.id).prop("checked", state);
                }
            }).on('click', 'img', function (e) {
                e.preventDefault();
                if ($(e.target).is('img.img-thumbnail')) {
                    let modalId = "#modal" + this.id.substr(3, this.id.length);
                    $(modalId).modal('show');
                }
            }).on('click','.qty',function(e){
                e.preventDefault();
                if($(e.target).is(".qty")){
                    let data = $(this).data(); //name, id, qty
                    $("#qtyTitle").text("Add or remove quantity to item \""+ data.name+"\"");
                    $("#qtyNumberCurrent").text(data.qty);
                    $("#qtyId").text(data.id);
                    $("#qtyModal").modal('show');
                }
            });
            $("div").on('change','.checkboxChangeRemarks',function (e) {
                e.preventDefault();
                if($(e.target).is(".checkboxChangeRemarks")) {
                    let checked = this.checked;
                    if (checked) {
                        $(this).parent().parent().parent().addClass("redRow");
                        if(!showUpdateButton){
                            //start showing update button
                            $("#mainButtonRows").append("<button onclick='showModalChangeRemark()' type=\"button\" id=\"updateButton\" class=\"btn btn-success\">Update</button>")
                            showUpdateButton = true;
                        }
                    } else {
                        $(this).parent().parent().parent().removeClass("redRow");
                    }
                }
            });
            //end preventdefaults


            $("#qtyButtonSubmit").click(function(){
                $.ajax({
                    method: "POST",
                    url: '/api/change_quantity',
                    data:{
                        sign:$("#inputIndicator").text(),
                        value:$("#qtyInput").val(),
                        id:$("#qtyId").text()
                    },
                }).done(function (data) {
                    $("#qtyModal").modal('hide');
                });
            })
            $("#qtyButtonAdd").click(function(){
                $(this).removeClass("btn-success");
                $(this).addClass("btn-outline-success");
                $("#qtyButtonRemove").removeClass("btn-outline-danger");
                $("#qtyButtonRemove").addClass("btn-danger");
                $("#inputIndicator").text("+");
                $("#qtyNumberNext").text(Number($("#qtyNumberCurrent").text())+Number($("#qtyInput").val()));
            })
            $("#qtyButtonRemove").click(function () {
                $(this).removeClass("btn-danger");
                $(this).addClass("btn-outline-danger");
                $("#qtyButtonAdd").removeClass("btn-outline-success");
                $("#qtyButtonAdd").addClass("btn-success");
                $("#inputIndicator").text("-");
                let next = Number($("#qtyNumberCurrent").text()) - Number($("#qtyInput").val());
                if(next<=0){
                    $("#qtyNumberNext").text("0");
                }else{
                    $("#qtyNumberNext").text(next);
                }
            })
            $("#qtyInput").keyup(function(){
                let sign = $("#inputIndicator").text();
                if(sign==="+"){
                    $("#qtyNumberNext").text(Number($("#qtyNumberCurrent").text()) + Number($("#qtyInput").val()));
                }else if(sign==="-"){
                    let next = Number($("#qtyNumberCurrent").text()) - Number($("#qtyInput").val());
                    if (next <= 0) {
                        $("#qtyNumberNext").text("0");
                    } else {
                        $("#qtyNumberNext").text(next);
                    }
                }

            })
            let loadingSpinner = "<button id=\"spinner\" class=\"btn btn-primary\" type=\"button\" disabled>\n" +
                "  <span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
                "  Loading...\n" +
                "</button>"
            $("#searchButton").on("click", function() {
                $("#search").val($("#search").val().toUpperCase());
                $("#bodyOfTable tr").remove();
                revertOutOfChangeRemarkState();
                $.ajax({
                    method: "GET",
                    url: '/api/inventories?search='+$("#search").val(),
                    beforeSend: function(){
                        $("#loadingSection").append(loadingSpinner);
                    }
                }).done(function (data) {
                    $("#spinner").remove();
                    data.data.forEach(function(item){
                        let tr = "<tr id="+item.inventory_id+">"; //start row
                        tr+="<td >"; // start 1 column
                        if (item.remarks === undefined) {
                            tr+= "<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + item.inventory_id + "' target='_blank'  >geen remark</a>";
                        } else {
                            tr+="<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + item.inventory_id + "' target='_blank'  >" + item.remarks + "</a>";
                        }
                        tr+="</td><td>";//start 2nd column
                        if (item.color_name === "(Not Applicable)") {
                            tr+= "<i class=\"fas fa-tint-slash\"></i>";
                        } else {
                            tr+= item.color_name ;
                        }
                        tr += "</td><td>";//start 3nd column
                        tr += "<a href='#qtyModalShow' class='qty' data-name='"+item.item.name+"' data-id='"+item.inventory_id+"' data-qty='"+item.quantity+"' >"+item.quantity+"</div>";
                        tr += "</td><td>";//start 4nd column
                        tr += item.new_or_used
                        tr += "</td><td>";//start 5nd column
                        tr += getPic(item);
                        tr += "</td></tr>";
                        $('#bodyOfTable').append(tr);
                        searchValue = $("#search").val();
                    });
                });
                function getPic(row) {
                    //row param is the item
                    let id = row.color_id + row.item.no;
                    let modal = "<div class=\"modal fade\" id=\"modal" + id + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"modalTitle" + id + "\" aria-hidden=\"true\">\n" +
                        "  <div class=\"modal-dialog modal-dialog-centered\" role=\"document\">\n" +
                        "    <div class=\"modal-content\">\n" +
                        "      <div class=\"modal-header\">\n" +
                        "        <h5 class=\"modal-title\" id=\"modalTitel" + id + "\">Item no " + row.item.no + "</h5>\n" +
                        "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n" +
                        "          <span aria-hidden=\"true\">&times;</span>\n" +
                        "        </button>\n" +
                        "      </div>\n" +
                        "      <div class=\"modal-body\">\n" +
                        "        " + row.item.name +
                        "      </div>\n" +
                        "      <div class=\"modal-footer\">\n" +
                        "        <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Close</button>\n" +
                        "      </div>\n" +
                        "    </div>\n" +
                        "  </div>\n" +
                        "</div>";
                    let _type = row.item.type.substr(0, 1);

                    switch (row.item.type) {
                        case "SET":
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/S/" + row.item.no + ".jpg\"" + " alt=\"\"> ";
                            break;
                        case "MINIFIG":
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/MN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case "PART":
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/PN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case 'INSTRUCTION':
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/IN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case 'BOOK':
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/BN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case 'SET':
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/SN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case 'GEAR':
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/GN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        case 'CATALOG':
                            return modal + "\n" +
                                "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/CN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                            break;
                        default:
                            return "<i class=\"fas fa-image\"></i>";
                    }

                }
            });
        });
