extends layout
block styles
    style.
        #checkAllInput  {
            width: 8% !important;
            position: relative;
            bottom: 2px;
            left: 35%;
        }
        td {
            font-size: 41px;
            font-weight: bold;
        }
        [type="search"] {
            font-size: 34px;
        }
        #searchButton{
            height: 65px;
        }
        .dataTables_filter, .dataTables_info { display: none; }
        .buttonBig{
            width:200px;
            height:80px;
            font-size:20px;
        }
        .buttonModal {
            margin-left: 25px;
            margin-right: 25px;
            font-size: 31px !important;
            flex:auto;
            postition:relative;
        }
        #inputIndicator, #qtyInput {
            height: 60px;
            font-size:30px;
        }
        #inputIndicator {
            width: 58px;
            padding-left: 21px;
        }
        .qtyNumber{
            margin-left:10px;
            font-size:20px;
            font-weight: 600;
         }
        .redRow{
            border: 3px solid darkred;
            outline: none;
            box-shadow: 0 0 10px darkred;
        }
        .redRow td{
            background-color: hsla(0, 100%, 27%, 0.25);
        }
        .checkboxChangeRemarks{
            top: 30px;
            position: relative;
        }
        .greenRow{
            border: 3px solid darkgreen;
            outline: none;
            box-shadow: 0 0 10px darkgreen;
        }

        .greenRow td {
            background-color: hsla(120, 100%, 20%, 0.25);
        }
        .singleInputButton{
            top: 19px;
            position: relative;
        }
        #scanOptionButton{
            padding-right: 40px;
        }
        #scanOption{
            -ms-transform: scale(3) !important;
            -moz-transform: scale(3) !important;
            -webkit-transform: scale(3) !important;
            -o-transform: scale(3) !important;
            padding: 25px;
            position: relative;
            left: 21px;
        }
block content
    .row.justify-content-between
        .col-2
            #loadingSection
        .col
            input#search.form-control(type='search' placeholder='Search' aria-label='Search')
        .col-auto.align-self-end.mre-auto
            .btn-group(role='group' aria-label='Group of action buttons')#mainButtonRows
                button#searchButton.btn.btn-outline-success.btn-lg.my-2.my-sm-0(type='submit') Search
                button#activateChangeRemarkButton.btn.btn-lg.btn-outline-secondary.my-2.my-sm-0(type='submit') Change remark
                button#scanOptionButton.btn.btn-lg.btn-outline-secondary.my-2.my-sm-0 Exact Search
                    input#scanoption(type="checkbox" value="true" )
    hr

    #qtyModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    p#qtyId(style='display:none;')
                    h5#qtyTitle.modal-title Add or remove quantity to this item
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            p.lead#qtyLabelCurrent(for="qtyInput") Current :
                                span#qtyNumberCurrent.qtyNumber 0
                            p.lead#qtyLabelNext(for="qtyInput") Updated :
                                span.qtyNumber#qtyNumberNext ?
                            .input-group
                                .input-group-prepend
                                    span#inputIndicator.input-group-text ?
                                input#qtyInput.form-control(type="number", step="1" min="0", placeholder="Quantity to add or remove")
                        .row
                            button#qtyButtonAdd.buttonBig.buttonModal.btn.btn-success(type="button") Add
                            button#qtyButtonRemove.buttonBig.buttonModal.btn.btn-danger(type="button") Remove
                .modal-footer
                    button#qtyButtonSubmit.buttonBig.btn.btn-secondary(type="submit") update
    #changeRemarkModal.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5#changeRemarkTitle.modal-title Change selected Inventory lots' remark
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span#labelUpdateRemark.input-group-text Input the remark to update
                                input#inputUpdateRemark.form-control(type="text", placeholder="...")
                .modal-footer
                    button#changeRemarkFinish.buttonBig.btn.btn-secondary(type="submit") update
    #drawTable
        table#table_id.table.table-striped
            thead#headOfTable.thead-dark
                tr
                    th(scope='col' id='scanOptionCol') Link
                    th(scope="col") Remark
                    th(scope="col") Colour
                    th.data-class-name(scope="col") Qt
                    th(scope="col") N/U
                    th(scope="col") Fotootje
            tbody#bodyOfTable
block scripts
    script.
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("activateChangeRemarkButton").addEventListener("click",activateChangeRemarkButton);
            document.getElementById("changeRemarkFinish").addEventListener("click",changeRemarkFinish);
            document.getElementById('search').addEventListener('onsearch', function (e) {
                        document.getElementById("searchButton").click();
                });
            document.getElementById('search').addEventListener('click', function (e) {
                document.getElementById('search').focus();
                document.getElementById('search').select();
            });
            this.addEventListener('onsubmit', function (e) {
                document.getElementById("searchButton").click();
            });
            document.getElementById('search')
                .addEventListener('keyup', function (e) {
                    if (e.code === 'Enter') {
                        document.getElementById("searchButton").click();
                        document.getElementById('search').focus();
                        document.getElementById('search').select();
                    }
                });
            document.getElementById("searchButton").addEventListener('click',search);
        });
        let checkAll = '<div id="checkAllDiv" class=" custom-checkbox">\n'
            +'          <input id="checkAllInput" type="checkbox" class="checkAllbox">\n'
            +'          </div>\n';
        let colorSelect = "<select class=\"custom-select\" id=\"colorSelect\"><option data-tab=\"All\" value=\"0\" data-name=\"(Not Applicable)\" data-rgb=\"transparent\" style=\"&quot;background-color&quot;: transparent\">&nbsp; &nbsp;(Not Applicable)</option><option data-tab=\"All\" value=\"11\" selected=\"\" data-name=\"Black\" data-rgb=\"#212121\" style=\"&quot;background-color&quot;: #212121,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp; &nbsp;Black</option><option data-tab=\"All\" value=\"7\" data-name=\"Blue\" data-rgb=\"#0057A6\" style=\"&quot;background-color&quot;: #0057A6,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Blue</option><option data-tab=\"All\" value=\"36\" data-name=\"Bright Green\" data-rgb=\"#10CB31\" style=\"&quot;background-color&quot;: #,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Bright Green</option><option data-tab=\"All\" value=\"105\" data-name=\"Bright Light Blue\" data-rgb=\"#9FC3E9\" style=\"&quot;background-color&quot;: #9FC3E9,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Bright Light Blue</option><option data-tab=\"All\" value=\"110\" data-name=\"Bright Light Orange\" data-rgb=\"#F7BA30\" style=\"&quot;background-color&quot;: #F7BA30,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Bright Light Orange</option><option data-tab=\"All\" value=\"103\" data-name=\"Bright Light Yellow\" data-rgb=\"#F3E055\" style=\"&quot;background-color&quot;: #F3E055,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Bright Light Yellow</option><option data-tab=\"All\" value=\"104\" data-name=\"Bright Pink\" data-rgb=\"#FFBBFF\" style=\"&quot;background-color&quot;: #FFBBFF,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Bright Pink</option><option data-tab=\"All\" value=\"8\" data-name=\"Brown\" data-rgb=\"#532115\" style=\"&quot;background-color&quot;: #532115,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Brown</option><option data-tab=\"All\" value=\"153\" data-name=\"Dark Azure\" data-rgb=\"#3399FF\" style=\"&quot;background-color&quot;: #3399FF,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Azure</option><option data-tab=\"All\" value=\"63\" data-name=\"Dark Blue\" data-rgb=\"#143044\" style=\"&quot;background-color&quot;: #143044,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Blue</option><option data-tab=\"All\" value=\"85\" data-name=\"Dark Bluish Gray\" data-rgb=\"#595D60\" style=\"&quot;background-color&quot;: #595D60,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Bluish Gray</option><option data-tab=\"All\" value=\"10\" data-name=\"Dark Gray\" data-rgb=\"#6B5A5A\" style=\"&quot;background-color&quot;: #6B5A5A,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Gray</option><option data-tab=\"All\" value=\"80\" data-name=\"Dark Green\" data-rgb=\"#2E5543\" style=\"&quot;background-color&quot;: #2E5543,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Green</option><option data-tab=\"All\" value=\"68\" data-name=\"Dark Orange\" data-rgb=\"#B35408\" style=\"&quot;background-color&quot;: #B35408,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Orange</option><option data-tab=\"All\" value=\"47\" data-name=\"Dark Pink\" data-rgb=\"#C87080\" style=\"&quot;background-color&quot;: #C87080,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Pink</option><option data-tab=\"All\" value=\"89\" data-name=\"Dark Purple\" data-rgb=\"#5F2683\" style=\"&quot;background-color&quot;: #5F2683,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Purple</option><option data-tab=\"All\" value=\"59\" data-name=\"Dark Red\" data-rgb=\"#6A0E15\" style=\"&quot;background-color&quot;: #6A0E15,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Red</option><option data-tab=\"All\" value=\"69\" data-name=\"Dark Tan\" data-rgb=\"#907450\" style=\"&quot;background-color&quot;: #907450,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Tan</option><option data-tab=\"All\" value=\"39\" data-name=\"Dark Turquoise\" data-rgb=\"#008A80\" style=\"&quot;background-color&quot;: #008A80,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Dark Turquoise</option><option data-tab=\"All\" value=\"6\" data-name=\"Green\" data-rgb=\"#00642E\" style=\"&quot;background-color&quot;: #00642E,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Green</option><option data-tab=\"All\" value=\"154\" data-name=\"Lavender\" data-rgb=\"#B18CBF\" style=\"&quot;background-color&quot;: #B18CBF,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Lavender</option><option data-tab=\"All\" value=\"152\" data-name=\"Light Aqua\" data-rgb=\"#CCFFFF\" style=\"&quot;background-color&quot;: #CCFFFF,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Aqua</option><option data-tab=\"All\" value=\"62\" data-name=\"Light Blue\" data-rgb=\"#B4D2E3\" style=\"&quot;background-color&quot;: #B4D2E3,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Blue</option><option data-tab=\"All\" value=\"86\" data-name=\"Light Bluish Gray\" data-rgb=\"#AFB5C7\" style=\"&quot;background-color&quot;: #AFB5C7,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Bluish Gray</option><option data-tab=\"All\" value=\"9\" data-name=\"Light Gray\" data-rgb=\"#9C9C9C\" style=\"&quot;background-color&quot;: #9C9C9C,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Gray</option><option data-tab=\"All\" value=\"35\" data-name=\"Light Lime\" data-rgb=\"#EBEE8F\" style=\"&quot;background-color&quot;: #EBEE8F,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Lime</option><option data-tab=\"All\" value=\"90\" data-name=\"Light Nougat\" data-rgb=\"#FECCB0\" style=\"&quot;background-color&quot;: #FECCB0,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Nougat</option><option data-tab=\"All\" value=\"56\" data-name=\"Light Pink\" data-rgb=\"#FFE1FF\" style=\"&quot;background-color&quot;: #FFE1FF,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Pink</option><option data-tab=\"All\" value=\"93\" data-name=\"Light Purple\" data-rgb=\"#DA70D6\" style=\"&quot;background-color&quot;: #DA70D6,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Purple</option><option data-tab=\"All\" value=\"33\" data-name=\"Light Yellow\" data-rgb=\"#FFE383\" style=\"&quot;background-color&quot;: #FFE383,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Light Yellow</option><option data-tab=\"All\" value=\"34\" data-name=\"Lime\" data-rgb=\"#A6CA55\" style=\"&quot;background-color&quot;: #A6CA55,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Lime</option><option data-tab=\"All\" value=\"72\" data-name=\"Maersk Blue\" data-rgb=\"#6BADD6\" style=\"&quot;background-color&quot;: #6BADD6,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Maersk Blue</option><option data-tab=\"All\" value=\"71\" data-name=\"Magenta\" data-rgb=\"#B52952\" style=\"&quot;background-color&quot;: #B52952,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Magenta</option><option data-tab=\"All\" value=\"156\" data-name=\"Medium Azure\" data-rgb=\"#42C0FB\" style=\"&quot;background-color&quot;: #42C0FB,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Azure</option><option data-tab=\"All\" value=\"42\" data-name=\"Medium Blue\" data-rgb=\"#61AFFF\" style=\"&quot;background-color&quot;: #61AFFF,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Blue</option><option data-tab=\"All\" value=\"157\" data-name=\"Medium Lavender\" data-rgb=\"#885E9E\" style=\"&quot;background-color&quot;: #885E9E,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Medium Lavender</option><option data-tab=\"All\" value=\"76\" data-name=\"Medium Lime\" data-rgb=\"#BDC618\" style=\"&quot;background-color&quot;: #BDC618,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Lime</option><option data-tab=\"All\" value=\"150\" data-name=\"Medium Nougat\" data-rgb=\"#E3A05B\" style=\"&quot;background-color&quot;: #E3A05B,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Nougat</option><option data-tab=\"All\" value=\"31\" data-name=\"Medium Orange\" data-rgb=\"#FFA531\" style=\"&quot;background-color&quot;: #FFA531,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Orange</option><option data-tab=\"All\" value=\"73\" data-name=\"Medium Violet\" data-rgb=\"#9391E4\" style=\"&quot;background-color&quot;: #9391E4,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Medium Violet</option><option data-tab=\"All\" value=\"28\" data-name=\"Nougat\" data-rgb=\"#FFAF7D\" style=\"&quot;background-color&quot;: #FFAF7D,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Nougat</option><option data-tab=\"All\" value=\"155\" data-name=\"Olive Green\" data-rgb=\"#7C9051\" style=\"&quot;background-color&quot;: #7C9051,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Olive Green</option><option data-tab=\"All\" value=\"4\" data-name=\"Orange\" data-rgb=\"#FF7E14\" style=\"&quot;background-color&quot;: #FF7E14,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Orange</option><option data-tab=\"All\" value=\"23\" data-name=\"Pink\" data-rgb=\"#FFC0CB\" style=\"&quot;background-color&quot;: #FFC0CB,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Pink</option><option data-tab=\"All\" value=\"24\" data-name=\"Purple\" data-rgb=\"#A5499C\" style=\"&quot;background-color&quot;: #A5499C,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Purple</option><option data-tab=\"All\" value=\"5\" data-name=\"Red\" data-rgb=\"#B30006\" style=\"&quot;background-color&quot;: #B30006,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Red</option><option data-tab=\"All\" value=\"88\" data-name=\"Reddish Brown\" data-rgb=\"#89351D\" style=\"&quot;background-color&quot;: #89351D,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Reddish Brown</option><option data-tab=\"All\" value=\"55\" data-name=\"Sand Blue\" data-rgb=\"#5A7184\" style=\"&quot;background-color&quot;: #5A7184,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Sand Blue</option><option data-tab=\"All\" value=\"48\" data-name=\"Sand Green\" data-rgb=\"#76A290\" style=\"&quot;background-color&quot;: #76A290,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Sand Green</option><option data-tab=\"All\" value=\"58\" data-name=\"Sand Red\" data-rgb=\"#8C6B6B\" style=\"&quot;background-color&quot;: #8C6B6B,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Sand Red</option><option data-tab=\"All\" value=\"2\" data-name=\"Tan\" data-rgb=\"#DEC69C\" style=\"&quot;background-color&quot;: #DEC69C,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Tan</option><option data-tab=\"All\" value=\"96\" data-name=\"Very Light Orange\" data-rgb=\"#E6C05D\" style=\"&quot;background-color&quot;: #E6C05D,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Very Light Orange</option><option data-tab=\"All\" value=\"1\" data-name=\"White\" data-rgb=\"#FFFFFF\" style=\"&quot;background-color&quot;: #FFFFFF,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;White</option><option data-tab=\"All\" value=\"3\" data-name=\"Yellow\" data-rgb=\"#F7D117\" style=\"&quot;background-color&quot;: #F7D117,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Yellow</option><option data-tab=\"All\" value=\"158\" data-name=\"Yellowish Green\" data-rgb=\"#DFEEA5\" style=\"&quot;background-color&quot;: #DFEEA5,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Yellowish Green</option><option data-tab=\"All\" value=\"12\" data-name=\"Trans-Clear\" data-rgb=\"#EEEEEE\" style=\"&quot;background-color&quot;: #EEEEEE,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Trans-Clear</option><option data-tab=\"All\" value=\"14\" data-name=\"Trans-Dark Blue\" data-rgb=\"#00296B\" style=\"&quot;background-color&quot;: #00296B,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Trans-Dark Blue</option><option data-tab=\"All\" value=\"15\" data-name=\"Trans-Light Blue\" data-rgb=\"#68BCC5\" style=\"&quot;background-color&quot;: #68BCC5,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Trans-Light Blue</option><option data-tab=\"All\" value=\"164\" data-name=\"Trans-Light Orange\" data-rgb=\"#E99A3A\" style=\"&quot;background-color&quot;: #E99A3A,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Trans-Light Orange</option><option data-tab=\"All\" value=\"16\" data-name=\"Trans-Neon Green\" data-rgb=\"#C0F500\" style=\"&quot;background-color&quot;: #C0F500,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Trans-Neon Green</option><option data-tab=\"All\" value=\"18\" data-name=\"Trans-Neon Orange\" data-rgb=\"#FF4231\" style=\"&quot;background-color&quot;: #FF4231,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Trans-Neon Orange</option><option data-tab=\"All\" value=\"98\" data-name=\"Trans-Orange\" data-rgb=\"#D04010\" style=\"&quot;background-color&quot;: #D04010,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Trans-Orange</option><option data-tab=\"All\" value=\"17\" data-name=\"Trans-Red\" data-rgb=\"#9C0010\" style=\"&quot;background-color&quot;: #9C0010,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Trans-Red</option><option data-tab=\"All\" value=\"19\" data-name=\"Trans-Yellow\" data-rgb=\"#EBF72D\" style=\"&quot;background-color&quot;: #EBF72D,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Trans-Yellow</option><option data-tab=\"All\" value=\"21\" data-name=\"Chrome Gold\" data-rgb=\"#F1F2E1\" style=\"&quot;background-color&quot;: #F1F2E1,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Chrome Gold</option><option data-tab=\"All\" value=\"22\" data-name=\"Chrome Silver\" data-rgb=\"#DCDCDC\" style=\"&quot;background-color&quot;: #DCDCDC,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Chrome Silver</option><option data-tab=\"All\" value=\"66\" data-name=\"Pearl Light Gray\" data-rgb=\"#ACB7C0\" style=\"&quot;background-color&quot;: #ACB7C0,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Pearl Light Gray</option><option data-tab=\"All\" value=\"65\" data-name=\"Metallic Gold\" data-rgb=\"#B8860B\" style=\"&quot;background-color&quot;: #B8860B,&quot;color&quot;:&quot;#FFF !important&quot;\">&nbsp;&nbsp;Metallic Gold</option><option data-tab=\"All\" value=\"60\" data-name=\"Milky White\" data-rgb=\"#D4D3DD\" style=\"&quot;background-color&quot;: #D4D3DD,&quot;color&quot;:&quot;#000 !important&quot;\">&nbsp;&nbsp;Milky White</option></select>";
        let stateofChangeRemarkButton = false;
        let searchValue = "";
        let showUpdateButton = false;
        let loadingSpinner = "<button id=\"spinner\" class=\"btn btn-primary btn-lg my-2 my-sm-0\" type=\"button\" disabled>\n" + "  <span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" + "  Loading...\n" + "</button>";
        let amountChecked = 0;
        let lastRemarksChange = 0;3
        let lastColourChange = 0;
        let lastQuantityChange = 0;
        let lastUsedChange = 0;
        let delay = 20;
        function listenersWhenSearchIsComplete (){
            console.log("called listenersWhenSearchIsComplete()");
            document.querySelectorAll(".inputRemarks").forEach(function (item) {
                item.addEventListener('keyup', function (e) {
                    if (e.code === 'Enter') {
                        changeRemarks(e);
                        document.getElementById('search').focus();
                        document.getElementById('search').select();
                    }
                });
                item.addEventListener('click', function (e) {
                    e.target.focus();
                    e.target.select();
                });
            });
            document.querySelectorAll(".inputQuantity").forEach(function (item) {
                item.addEventListener('keyup', function (e) {
                    if (e.code === 'Enter') {
                        changeQuantity(e);
                        document.getElementById('search').focus();
                        document.getElementById('search').select();
                    }
                });
                item.addEventListener('click', function (e) {
                    e.target.focus();
                    e.target.select();
                });
            });
            document.querySelectorAll(".inputColour").forEach(function (item) {
                item.addEventListener('change', function (e) {
                    changeColour(e);
                    document.getElementById('search').focus();
                    document.getElementById('search').select();
                });
                item.addEventListener('click', function (e) {
                    e.target.focus();
                    e.target.select();
                });
            });
            document.querySelectorAll(".inputUsed").forEach(function (item) {
                item.addEventListener('keyup', function (e) {
                    if (e.code === 'Enter') {
                        changeUsed(e);
                        document.getElementById('search').focus();
                        document.getElementById('search').select();
                    }
                });
                item.addEventListener('click', function (e) {
                    e.target.focus();
                    e.target.select();
                });
            });

            document.querySelectorAll("img").forEach(function (item) {
                item.addEventListener('click', imgThumbnail);
            });
            document.querySelectorAll(".qty").forEach(function (item) {
                item.addEventListener('click', qty);
            });
            document.getElementById("qtyButtonSubmit").addEventListener("click", qtyButtonSumbit);
            document.getElementById("qtyButtonAdd").addEventListener("click", qtyButtonAdd);
            document.getElementById("qtyButtonRemove").addEventListener("click", qtyButtonRemove);
            document.getElementById("qtyInput").addEventListener('keyup', qtyInput);
        }
        function listenersWhenUpdating(){
            document.getElementById("checkAllInput").addEventListener('click', checkAllBox);
            document.querySelectorAll(".checkers").forEach(function (item) {
                item.addEventListener('click', checkers);
            });
            document.querySelectorAll(".checkboxChangeRemarks").forEach(function (item) {
                item.addEventListener('change', checkboxChangeRemarks);
                item.addEventListener('click',updateCheckBoxAll);
            });
        }
        function updateCheckBoxAll(){
            let onTrue = 0;
            let onFalse = 0;
            document.querySelectorAll(".checkboxChangeRemarks").forEach(function(checkbox,index,array){
               if(checkbox.checked){
                   onTrue++;
               }else{
                   onFalse++;
               }
            });
            if(onTrue===0){ //nothing is checked
                document.getElementById("checkAllInput").checked = false;
            }else if(onFalse===0){
                document.getElementById("checkAllInput").checked = true;
            }else{
                $('#checkAllInput').prop('indeterminate', true)
            }
        }
        function checkAllBox(){
            document.querySelectorAll(".checkboxChangeRemarks").forEach(function(checkbox){
               checkbox.checked = document.getElementById("checkAllInput").checked;
            });
        }
        function activateChangeRemarkButton () {
            console.log("called activateChangeRemarkButton()");
            console.log(stateofChangeRemarkButton, searchValue);
            if (stateofChangeRemarkButton) {
                //deactive change remark state
                if ($("#checkHeader").html() === " Check") { //be sure that not already deleted
                    revertOutOfChangeRemarkState();
                }
                //removes red glowing rows
                $("#bodyOfTable tr").removeClass("redRow");
            } else if (!stateofChangeRemarkButton && searchValue.trim()) {
                //ACTIVE change remark state
                $(this).removeClass("btn-outline-secondary").addClass("btn-primary"); //looks like function is active
                //add extra collumn
                $("#headOfTable tr").prepend("<th id='checkHeader' scope='col' > "+checkAll+"</th>")
                $("#bodyOfTable tr").each(function () {
                    let idOfCurrentRow = $(this).attr('id');
                    $(this).prepend("<td class='checkRow'><div class=\"custom-control custom-checkbox\">\n" +
                        "  <input type=\"checkbox\" class=\"checkboxChangeRemarks\" name=\"" + idOfCurrentRow + "\">" +
                        "</div></td>")
                });
                stateofChangeRemarkButton = true;
            }
            listenersWhenUpdating();
        }
        function qtyInput() {
            console.log("called qtyInput()");
            let sign = $("#inputIndicator").text();
            if (sign === "+") {
                $("#qtyNumberNext").text(Number($("#qtyNumberCurrent").text()) + Number($("#qtyInput").val()));
            } else if (sign === "-") {
                let next = Number($("#qtyNumberCurrent").text()) - Number($("#qtyInput").val());
                if (next <= 0) {
                    $("#qtyNumberNext").text("0");
                } else {
                    $("#qtyNumberNext").text(next);
                }
            }

        }
        function qtyButtonRemove() {
            console.log("called qtyButtonRemove()");
            $(this).removeClass("btn-danger");
            $(this).addClass("btn-outline-danger");
            $("#qtyButtonAdd").removeClass("btn-outline-success");
            $("#qtyButtonAdd").addClass("btn-success");
            $("#inputIndicator").text("-");
            let next = Number($("#qtyNumberCurrent").text()) - Number($("#qtyInput").val());
            if (next <= 0) {
                $("#qtyNumberNext").text("0");
            } else {
                $("#qtyNumberNext").text(next);
            }
        }
        function qtyButtonAdd() {
            console.log("called qtyButtonadd()");
            $(this).removeClass("btn-success");
            $(this).addClass("btn-outline-success");
            $("#qtyButtonRemove").removeClass("btn-outline-danger");
            $("#qtyButtonRemove").addClass("btn-danger");
            $("#inputIndicator").text("+");
            $("#qtyNumberNext").text(Number($("#qtyNumberCurrent").text()) + Number($("#qtyInput").val()));
        }
        function showModalChangeRemark() {
            console.log("called showModalChangeRemark()");
            $("#changeRemarkModal").modal('show');
        }

        function changeColour(e){
            e.preventDefault();
            if (lastColourChange >= (Date.now() - delay))
                return;
            lastColourChange = Date.now();
            let id = e.target.id.substr(1).trim();
            let thisButton = "#" + e.target.id;
            let newColour = $(thisButton).val();
            $.ajax({
                method: "POST",
                url: '/api/change_colour',
                data: {
                    id: id,
                    newColour: newColour
                },
                beforeSend: function () {
                    $(thisButton).removeClass("is-valid");
                    $(thisButton).removeClass("is-invalid");
                }
            }).done(function (data) {
                if(data.meta.code!==200){
                    console.log(data)
                    $(thisButton).addClass("is-invalid");
                }else {
                    $(thisButton).addClass("is-valid");
                }
            });
        }

        function changeUsed(e){
            e.preventDefault();
            if (lastUsedChange >= (Date.now() - delay))
                return;
            lastUsedChange = Date.now();
            let id = e.target.id.substr(1).trim();
            let thisButton = "#" + e.target.id;
            let newUsed = $(thisButton).val();
            $.ajax({
                method: "POST",
                url: '/api/change_used',
                data: {
                    id: id,
                    newUsed: newUsed
                },
                beforeSend: function () {
                    $(thisButton).removeClass("is-valid");
                    $(thisButton).removeClass("is-invalid");
                }
            }).done(function (data) {
                if (data.meta.code !== 200) {
                    console.log(data)
                    $(thisButton).addClass("is-invalid");
                } else {
                    $(thisButton).addClass("is-valid");
                }
            });
        }

        function changeQuantity(e){
            e.preventDefault();
            if (lastQuantityChange >= (Date.now() - delay))
                return;
            lastQuantityChange = Date.now();
            let id = e.target.id.substr(1).trim();
            let thisButton = "#" + e.target.id;
            let newQuantity = $(thisButton).val();
            $.ajax({
                method: "POST",
                url: '/api/change_quantity',
                data: {
                    id: id,
                    newQuantity: newQuantity
                },
                beforeSend: function () {
                    $(thisButton).removeClass("is-valid");
                    $(thisButton).removeClass("is-invalid");
                }
            }).done(function (data) {
                if (data.meta.code !== 200) {
                    console.log(data)
                    $(thisButton).addClass("is-invalid");
                } else {
                    $(thisButton).addClass("is-valid");
                }
            });
        }

        function changeRemarks(e) {
            e.preventDefault();
            if (lastRemarksChange >= (Date.now() - delay))
                return;
            lastRemarksChange = Date.now();
                let id = e.target.id.substr(1).trim();
                let thisButton = "#"+e.target.id;
                let newRemarkName = $(thisButton).val();
                $.ajax({
                    method: "POST",
                    url: '/api/change_single_remarks',
                    data: {
                        id: id,
                        newRemarkName: newRemarkName
                    },
                    beforeSend: function () {
                        $(thisButton).removeClass("is-valid");
                        $(thisButton).removeClass("is-invalid");
                    }
                }).done(function (data) {
                    if (data.meta.code !== 200) {
                        console.log(data)
                        $(thisButton).addClass("is-invalid");
                    } else {
                        $(thisButton).addClass("is-valid");
                    }
                });
        }
        function checkers(e) {
            e.preventDefault();
            console.log("called checkers()");
            if ($(e.target).is("input.checkers")) {
                let state = $(this).is(":checked");
                $("#" + this.id).prop("checked", state);
            }
        }
        function imgThumbnail(e) {
            e.preventDefault();
            console.log("called imgThumbnail()");
            if ($(e.target).is('img.img-thumbnail')) {
                let modalId = "#modal" + this.id.substr(3, this.id.length);
                $(modalId).modal('show');
            }
        }
        function search(e) {
            e.preventDefault()
            console.log("called search()");
            console.log('searching...');
            searchValue = ""
            $("#search").val($("#search").val().toUpperCase());
            $("#bodyOfTable tr").remove();
            revertOutOfChangeRemarkState();
            let url_ = '/api/inventories?search=' + $("#search").val();
            if($("#scanoption").is(':checked')){
                url_= '/api/inventories?search=' + $("#search").val()+"&exact=Y";
            }
            $.ajax({
                method: "GET",
                url: url_,
                beforeSend: function () {
                    $("#loadingSection").append(loadingSpinner);
                }
            }).done(function (data) {
                $("#spinner").remove();
                data.data.forEach(function (item) {
                    let tr = "<tr id=" + item.inventory_id + ">"; //start row
                    tr+="<td >";
                    tr+="<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + item.inventory_id + "' target='_blank' class=\"btn btn-primary btn-lg active\" role=\"button\" aria-pressed=\"true\"> " +
                        "<i class=\"fas fa-external-link-alt fa-3x\"></i>" +
                        "</a>"
                    tr+="</td >";
                    tr += "<td >"; // start 1 column
                    if (item.remarks === undefined) {
                        tr += "<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + item.inventory_id + "' target='_blank'  >geen remark</a>";
                    } else {
                        tr += "<input type=\"text\" class=\"form-control inputRemarks\" id=\"R" + item.inventory_id + "\" placeholder=\"" + item.remarks + "\" value=\"" + item.remarks + "\">\n";
                    }
                    tr += "</td><td>";//start 2nd column
                    if (item.color_name === "(Not Applicable)") {
                        tr += "<i class=\"fas fa-tint-slash\"></i>";
                    } else {
                        tr += item.color_name
                    }
                    tr += "</td><td>";//start 3nd column
                    tr += "<input type=\"text\" class=\"form-control inputQuantity\" id=\"Q" + item.inventory_id + "\" placeholder=\"" + item.quantity + "\" value=\"" + item.quantity + "\">\n";
                    tr += "</td><td>";//start 4nd column
                    tr += "<input type=\"text\" class=\"form-control inputUsed\" id=\"U" + item.inventory_id + "\" placeholder=\"" + item.new_or_used + "\" value=\"" + item.new_or_used + "\">\n";
                    tr += "</td><td>";//start 5nd column
                    tr += getPic(item);
                    tr += "</td></tr>";
                    $('#bodyOfTable').append(tr);
                    searchValue = $("#search").val();
                    listenersWhenSearchIsComplete();
                });
            });

            function getPic(row) {
                console.log("called getPic()");
                //row param is the item
                let id = row.color_id + row.item.no;
                let modal = "<div class=\"modal fade\" id=\"modal" + id + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"modalTitle" + id + "\" aria-hidden=\"true\">\n" +
                    "  <div class=\"modal-dialog modal-dialog-centered\" role=\"document\">\n" +
                    "    <div class=\"modal-content\">\n" +
                    "      <div class=\"modal-header\">\n" +
                    "        <h5 class=\"modal-title\" id=\"modalTitel" + id + "\">Item no " + row.item.no + "</h5>\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n" +
                    "          <span aria-hidden=\"true\">&times;</span>\n" +
                    "        </button>\n" +
                    "      </div>\n" +
                    "      <div class=\"modal-body\">\n" +
                    "        " + row.item.name +
                    "      </div>\n" +
                    "      <div class=\"modal-footer\">\n" +
                    "        <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Close</button>\n" +
                    "      </div>\n" +
                    "    </div>\n" +
                    "  </div>\n" +
                    "</div>";
                let _type = row.item.type.substr(0, 1);

                switch (row.item.type) {
                    case "SET":
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/S/" + row.item.no + ".jpg\"" + " alt=\"\"> ";
                        break;
                    case "MINIFIG":
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/MN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case "PART":
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/PN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case 'INSTRUCTION':
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/IN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case 'BOOK':
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/BN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case 'SET':
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/SN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case 'GEAR':
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/GN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    case 'CATALOG':
                        return modal + "\n" +
                            "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/CN/" + row.color_id + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                        break;
                    default:
                        return "<i class=\"fas fa-image\"></i>";
                }

            }
        };
        function revertOutOfChangeRemarkState() {
            console.log("called revertOutOfChangeRemarkState()");
            $("#activateChangeRemarkButton").removeClass("btn-primary").addClass("btn-outline-secondary");
            $("#checkHeader").remove();
            $(".checkRow").remove();
            $("#updateButton").remove();
            $("#changeRemarkModal").modal('hide');
            showUpdateButton = false;
            stateofChangeRemarkButton = false;
            amountChecked = 0;
            $("#showAmountChecked").remove();
        };
        function qty(e) {
            e.preventDefault();
            console.log("called qty()");
            if ($(e.target).is(".qty")) {
                let data = $(this).data(); //name, id, qty
                $("#qtyTitle").text("Add or remove quantity to item \"" + data.name + "\"");
                $("#qtyNumberCurrent").text(data.qty);
                $("#qtyId").text(data.id);
                $("#qtyModal").modal('show');
            }
        }
        function checkboxChangeRemarks(e) {
            e.preventDefault();
            console.log("called checkboxChangeRemarks()");
            if ($(e.target).is(".checkboxChangeRemarks")) {
                let checked = this.checked;
                console.log('change detected');
                if (checked) {
                    $(this).parent().parent().parent().addClass("redRow");
                    amountChecked++;
                    if (!showUpdateButton) {
                        //start showing update button
                        $("#mainButtonRows").append("<button onclick='showModalChangeRemark()' type=\"button\" id=\"updateButton\" class=\"btn btn-success\">Update</button>")
                        $("#loadingSection").append("<button id=\"showAmountChecked\" class=\"btn btn-primary btn-lg my-2 my-sm-0\" type=\"button\" disabled>\n" +
                            "</button>");
                        showUpdateButton = true;
                    }
                } else {
                    $(this).parent().parent().parent().removeClass("redRow");
                    amountChecked--;
                }
                let correctChecked = (amountChecked);
                console.log(correctChecked, amountChecked)
                $("#showAmountChecked").text(correctChecked + " selected");
            }
        }
        function qtyButtonSumbit() {
            console.log("called qtyButtonSumbit()");
            $.ajax({
                method: "POST",
                url: '/api/change_quantity',
                data: {
                    sign: $("#inputIndicator").text(),
                    value: $("#qtyInput").val(),
                    id: $("#qtyId").text()
                },
            }).done(function (data) {
                $("#qtyModal").modal('hide');
            });
        }
        function changeRemarkFinish() { //button was pressed to change remarks
            //gather all selected inventoryId's
            let ids = [];
            $(".checkboxChangeRemarks").each(function () {
                if (this.checked) {
                    ids.push($(this).attr('name'));
                }
                ;
            });
            let newRemarkName = $("#inputUpdateRemark").val().toUpperCase();
            let body = {
                ids: JSON.stringify(ids),
                newRemarkName: newRemarkName
            };
            console.log(body);
            //api call here
            $.ajax({
                method: "PUT",
                url: '/api/change_remark',
                data: body,
            }).done(function (data) {
                $(".redRow").removeClass("redRow").addClass("greenRow");
                revertOutOfChangeRemarkState();
                $(".greenRow").fadeOut(1000, function () {
                });
                ///TODO: show message based on success
            });
            //end api call


        }
        //id will be #C[ID]
        function getSpecificColorSelect(id,selectedColourName){
            let color = "\n" +
                        "            <select class=\"custom-select\" id=\"color\">\n"+
                        "              <option data-tab=\"All\" value=\"0\" data-name=\"(Not Applicable)\" data-rgb=\"transparent\" style=\"&quot;background-color&quot;: transparent\">\n"+
                        "                &nbsp; &nbsp;(Not Applicable)</option>\n"+
                        "              <option data-tab=\"All\" value=\"11\" data-name=\"Black\" data-rgb=\"#212121\" style=\"&quot;background-color&quot;: #212121,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp; &nbsp;Black</option>\n"+
                        "              <option data-tab=\"All\" value=\"7\" data-name=\"Blue\" data-rgb=\"#0057A6\" style=\"&quot;background-color&quot;: #0057A6,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"36\" data-name=\"Bright Green\" data-rgb=\"#10CB31\" style=\"&quot;background-color&quot;: #,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Bright Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"105\" data-name=\"Bright Light Blue\" data-rgb=\"#9FC3E9\" style=\"&quot;background-color&quot;: #9FC3E9,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Bright Light Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"110\" data-name=\"Bright Light Orange\" data-rgb=\"#F7BA30\" style=\"&quot;background-color&quot;: #F7BA30,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Bright Light Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"103\" data-name=\"Bright Light Yellow\" data-rgb=\"#F3E055\" style=\"&quot;background-color&quot;: #F3E055,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Bright Light Yellow</option>\n"+
                        "              <option data-tab=\"All\" value=\"104\" data-name=\"Bright Pink\" data-rgb=\"#FFBBFF\" style=\"&quot;background-color&quot;: #FFBBFF,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Bright Pink</option>\n"+
                        "              <option data-tab=\"All\" value=\"8\" data-name=\"Brown\" data-rgb=\"#532115\" style=\"&quot;background-color&quot;: #532115,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Brown</option>\n"+
                        "              <option data-tab=\"All\" value=\"153\" data-name=\"Dark Azure\" data-rgb=\"#3399FF\" style=\"&quot;background-color&quot;: #3399FF,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Azure</option>\n"+
                        "              <option data-tab=\"All\" value=\"63\" data-name=\"Dark Blue\" data-rgb=\"#143044\" style=\"&quot;background-color&quot;: #143044,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"85\" data-name=\"Dark Bluish Gray\" data-rgb=\"#595D60\" style=\"&quot;background-color&quot;: #595D60,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Bluish Gray</option>\n"+
                        "              <option data-tab=\"All\" value=\"10\" data-name=\"Dark Gray\" data-rgb=\"#6B5A5A\" style=\"&quot;background-color&quot;: #6B5A5A,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Gray</option>\n"+
                        "              <option data-tab=\"All\" value=\"80\" data-name=\"Dark Green\" data-rgb=\"#2E5543\" style=\"&quot;background-color&quot;: #2E5543,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"68\" data-name=\"Dark Orange\" data-rgb=\"#B35408\" style=\"&quot;background-color&quot;: #B35408,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"47\" data-name=\"Dark Pink\" data-rgb=\"#C87080\" style=\"&quot;background-color&quot;: #C87080,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Pink</option>\n"+
                        "              <option data-tab=\"All\" value=\"89\" data-name=\"Dark Purple\" data-rgb=\"#5F2683\" style=\"&quot;background-color&quot;: #5F2683,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Purple</option>\n"+
                        "              <option data-tab=\"All\" value=\"59\" data-name=\"Dark Red\" data-rgb=\"#6A0E15\" style=\"&quot;background-color&quot;: #6A0E15,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Red</option>\n"+
                        "              <option data-tab=\"All\" value=\"69\" data-name=\"Dark Tan\" data-rgb=\"#907450\" style=\"&quot;background-color&quot;: #907450,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Tan</option>\n"+
                        "              <option data-tab=\"All\" value=\"39\" data-name=\"Dark Turquoise\" data-rgb=\"#008A80\" style=\"&quot;background-color&quot;: #008A80,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Dark Turquoise</option>\n"+
                        "              <option data-tab=\"All\" value=\"6\" data-name=\"Green\" data-rgb=\"#00642E\" style=\"&quot;background-color&quot;: #00642E,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"154\" data-name=\"Lavender\" data-rgb=\"#B18CBF\" style=\"&quot;background-color&quot;: #B18CBF,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Lavender</option>\n"+
                        "              <option data-tab=\"All\" value=\"152\" data-name=\"Light Aqua\" data-rgb=\"#CCFFFF\" style=\"&quot;background-color&quot;: #CCFFFF,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Aqua</option>\n"+
                        "              <option data-tab=\"All\" value=\"62\" data-name=\"Light Blue\" data-rgb=\"#B4D2E3\" style=\"&quot;background-color&quot;: #B4D2E3,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"86\" data-name=\"Light Bluish Gray\" data-rgb=\"#AFB5C7\" style=\"&quot;background-color&quot;: #AFB5C7,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Bluish Gray</option>\n"+
                        "              <option data-tab=\"All\" value=\"9\" data-name=\"Light Gray\" data-rgb=\"#9C9C9C\" style=\"&quot;background-color&quot;: #9C9C9C,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Gray</option>\n"+
                        "              <option data-tab=\"All\" value=\"35\" data-name=\"Light Lime\" data-rgb=\"#EBEE8F\" style=\"&quot;background-color&quot;: #EBEE8F,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Lime</option>\n"+
                        "              <option data-tab=\"All\" value=\"90\" data-name=\"Light Nougat\" data-rgb=\"#FECCB0\" style=\"&quot;background-color&quot;: #FECCB0,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Nougat</option>\n"+
                        "              <option data-tab=\"All\" value=\"56\" data-name=\"Light Pink\" data-rgb=\"#FFE1FF\" style=\"&quot;background-color&quot;: #FFE1FF,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Pink</option>\n"+
                        "              <option data-tab=\"All\" value=\"93\" data-name=\"Light Purple\" data-rgb=\"#DA70D6\" style=\"&quot;background-color&quot;: #DA70D6,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Purple</option>\n"+
                        "              <option data-tab=\"All\" value=\"33\" data-name=\"Light Yellow\" data-rgb=\"#FFE383\" style=\"&quot;background-color&quot;: #FFE383,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Light Yellow</option>\n"+
                        "              <option data-tab=\"All\" value=\"34\" data-name=\"Lime\" data-rgb=\"#A6CA55\" style=\"&quot;background-color&quot;: #A6CA55,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Lime</option>\n"+
                        "              <option data-tab=\"All\" value=\"72\" data-name=\"Maersk Blue\" data-rgb=\"#6BADD6\" style=\"&quot;background-color&quot;: #6BADD6,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Maersk Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"71\" data-name=\"Magenta\" data-rgb=\"#B52952\" style=\"&quot;background-color&quot;: #B52952,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Magenta</option>\n"+
                        "              <option data-tab=\"All\" value=\"156\" data-name=\"Medium Azure\" data-rgb=\"#42C0FB\" style=\"&quot;background-color&quot;: #42C0FB,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Azure</option>\n"+
                        "              <option data-tab=\"All\" value=\"42\" data-name=\"Medium Blue\" data-rgb=\"#61AFFF\" style=\"&quot;background-color&quot;: #61AFFF,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"157\" data-name=\"Medium Lavender\" data-rgb=\"#885E9E\" style=\"&quot;background-color&quot;: #885E9E,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Lavender</option>\n"+
                        "              <option data-tab=\"All\" value=\"76\" data-name=\"Medium Lime\" data-rgb=\"#BDC618\" style=\"&quot;background-color&quot;: #BDC618,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Lime</option>\n"+
                        "              <option data-tab=\"All\" value=\"150\" data-name=\"Medium Nougat\" data-rgb=\"#E3A05B\" style=\"&quot;background-color&quot;: #E3A05B,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Nougat</option>\n"+
                        "              <option data-tab=\"All\" value=\"31\" data-name=\"Medium Orange\" data-rgb=\"#FFA531\" style=\"&quot;background-color&quot;: #FFA531,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"73\" data-name=\"Medium Violet\" data-rgb=\"#9391E4\" style=\"&quot;background-color&quot;: #9391E4,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Medium Violet</option>\n"+
                        "              <option data-tab=\"All\" value=\"28\" data-name=\"Nougat\" data-rgb=\"#FFAF7D\" style=\"&quot;background-color&quot;: #FFAF7D,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Nougat</option>\n"+
                        "              <option data-tab=\"All\" value=\"155\" data-name=\"Olive Green\" data-rgb=\"#7C9051\" style=\"&quot;background-color&quot;: #7C9051,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Olive Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"4\" data-name=\"Orange\" data-rgb=\"#FF7E14\" style=\"&quot;background-color&quot;: #FF7E14,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"23\" data-name=\"Pink\" data-rgb=\"#FFC0CB\" style=\"&quot;background-color&quot;: #FFC0CB,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Pink</option>\n"+
                        "              <option data-tab=\"All\" value=\"24\" data-name=\"Purple\" data-rgb=\"#A5499C\" style=\"&quot;background-color&quot;: #A5499C,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Purple</option>\n"+
                        "              <option data-tab=\"All\" value=\"5\" data-name=\"Red\" data-rgb=\"#B30006\" style=\"&quot;background-color&quot;: #B30006,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Red</option>\n"+
                        "              <option data-tab=\"All\" value=\"88\" data-name=\"Reddish Brown\" data-rgb=\"#89351D\" style=\"&quot;background-color&quot;: #89351D,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Reddish Brown</option>\n"+
                        "              <option data-tab=\"All\" value=\"55\" data-name=\"Sand Blue\" data-rgb=\"#5A7184\" style=\"&quot;background-color&quot;: #5A7184,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Sand Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"48\" data-name=\"Sand Green\" data-rgb=\"#76A290\" style=\"&quot;background-color&quot;: #76A290,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Sand Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"58\" data-name=\"Sand Red\" data-rgb=\"#8C6B6B\" style=\"&quot;background-color&quot;: #8C6B6B,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Sand Red</option>\n"+
                        "              <option data-tab=\"All\" value=\"2\" data-name=\"Tan\" data-rgb=\"#DEC69C\" style=\"&quot;background-color&quot;: #DEC69C,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Tan</option>\n"+
                        "              <option data-tab=\"All\" value=\"96\" data-name=\"Very Light Orange\" data-rgb=\"#E6C05D\" style=\"&quot;background-color&quot;: #E6C05D,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Very Light Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"1\" data-name=\"White\" data-rgb=\"#FFFFFF\" style=\"&quot;background-color&quot;: #FFFFFF,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;White</option>\n"+
                        "              <option data-tab=\"All\" value=\"3\" data-name=\"Yellow\" data-rgb=\"#F7D117\" style=\"&quot;background-color&quot;: #F7D117,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Yellow</option>\n"+
                        "              <option data-tab=\"All\" value=\"158\" data-name=\"Yellowish Green\" data-rgb=\"#DFEEA5\" style=\"&quot;background-color&quot;: #DFEEA5,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Yellowish Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"12\" data-name=\"Trans-Clear\" data-rgb=\"#EEEEEE\" style=\"&quot;background-color&quot;: #EEEEEE,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Clear</option>\n"+
                        "              <option data-tab=\"All\" value=\"14\" data-name=\"Trans-Dark Blue\" data-rgb=\"#00296B\" style=\"&quot;background-color&quot;: #00296B,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Dark Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"15\" data-name=\"Trans-Light Blue\" data-rgb=\"#68BCC5\" style=\"&quot;background-color&quot;: #68BCC5,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Light Blue</option>\n"+
                        "              <option data-tab=\"All\" value=\"164\" data-name=\"Trans-Light Orange\" data-rgb=\"#E99A3A\" style=\"&quot;background-color&quot;: #E99A3A,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Light Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"16\" data-name=\"Trans-Neon Green\" data-rgb=\"#C0F500\" style=\"&quot;background-color&quot;: #C0F500,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Neon Green</option>\n"+
                        "              <option data-tab=\"All\" value=\"18\" data-name=\"Trans-Neon Orange\" data-rgb=\"#FF4231\" style=\"&quot;background-color&quot;: #FF4231,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Neon Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"98\" data-name=\"Trans-Orange\" data-rgb=\"#D04010\" style=\"&quot;background-color&quot;: #D04010,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Orange</option>\n"+
                        "              <option data-tab=\"All\" value=\"17\" data-name=\"Trans-Red\" data-rgb=\"#9C0010\" style=\"&quot;background-color&quot;: #9C0010,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Red</option>\n"+
                        "              <option data-tab=\"All\" value=\"19\" data-name=\"Trans-Yellow\" data-rgb=\"#EBF72D\" style=\"&quot;background-color&quot;: #EBF72D,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Trans-Yellow</option>\n"+
                        "              <option data-tab=\"All\" value=\"21\" data-name=\"Chrome Gold\" data-rgb=\"#F1F2E1\" style=\"&quot;background-color&quot;: #F1F2E1,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Chrome Gold</option>\n"+
                        "              <option data-tab=\"All\" value=\"22\" data-name=\"Chrome Silver\" data-rgb=\"#DCDCDC\" style=\"&quot;background-color&quot;: #DCDCDC,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Chrome Silver</option>\n"+
                        "              <option data-tab=\"All\" value=\"66\" data-name=\"Pearl Light Gray\" data-rgb=\"#ACB7C0\" style=\"&quot;background-color&quot;: #ACB7C0,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Pearl Light Gray</option>\n"+
                        "              <option data-tab=\"All\" value=\"65\" data-name=\"Metallic Gold\" data-rgb=\"#B8860B\" style=\"&quot;background-color&quot;: #B8860B,&quot;color&quot;:&quot;#FFF !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Metallic Gold</option>\n"+
                        "              <option data-tab=\"All\" value=\"60\" data-name=\"Milky White\" data-rgb=\"#D4D3DD\" style=\"&quot;background-color&quot;: #D4D3DD,&quot;color&quot;:&quot;#000 !important&quot;\">\n"+
                        "                &nbsp;&nbsp;Milky White</option>\n"+
                        "            </select>";





        }
