doctype html
html(lang="en")
    include _head
    block styles
    script(src="/js/main.js")
    block scripts
    body
        include _navbar
        
        include components/messages
        block modals
        .container-fluid
            .contents
                block content