html(lang="en")
    include _head
    block styles
    block scripts
    body
        include _navbar
        block modals
        .container-fluid
            .contents
                block content
        
