extends layout
block styles
    link(rel="stylesheet", href="/css/order.css")

block content
        .row
            .col-lg-12
                .card
                    .card-body
                        .active-member
                            .table-responsive
                                table#mainTable.table.table-xs.mb-0
                                    tbody#dynamicTable
block scripts
    script(src="/js/order.js")
        