extends layout
block content
        .row
            .col-lg-12
                .card
                    .card-body
                        .active-member
                            .table-responsive
                                table#mainTable.table.table-xs.mb-0
                                    thead
                                        tr
                                            th#0.sortable.data-class-name Order Id
                                                .sort-box
                                            th#1.sortable.order_date Date Ordered
                                                .sort-box
                                            th Status
                                            th#3.sortable progress
                                                .sort-box
                                    tbody#dynamicTable

block styles
    link(rel="stylesheet", href="/css/orderListTable.css")
    //link(rel="stylesheet", href="/css/orderList.css")
block scripts
    script(src="/js/orderList.js")