extends layout
block styles
    link(rel="stylesheet", href="/css/order.css")

block content
    .container-fluid
        .row
            .col-lg-12
                .card
                    .card-body
                        h3="Order "+data.orderDB.order_id
                        div(id="P"+data.orderDB.order_id)
                .card
                    .card-body
                            .table-responsive
                                table#mainTable.table.table-xs.mb-0
                                    thead
                                        tr
                                            th#0.sortable(data-type='asc') images
                                                .sort-box
                                            th#1.sortable(data-type='asc') Info
                                                .sort-box
                                            th#2.sortable(data-type='asc') Picked
                                                .sort-box
                                    tbody#dynamicTable

block modals
    #enlarge.modal(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#enlargedTitleLabel.modal-title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    img#enlargedImg(src='')
                .modal-footer
                    p.lead#enlargedFooter
block scripts
    script(src="/js/order.js")