extends layout
block styles
    link(rel="stylesheet", href="/css/settings.css")
block content
        .row
            .col-lg-12
                .card
                    .card-body
                        .row.justify-content-center.extra-bottom
                            .settings-card
                                ul#list-settings.list-group
                                    li.list-group-item
                                        .banner
                                            img.data-status(src="/images/bricklink-logo.png", alt="BL logo")
                                            span.status-name Bricklink API keys
                                        .settings
                                                .form-group
                                                    label(for='userName') User name
                                                    input#userName.form-control(name="userName" type='text' aria-describedby='userNameHelp' placeholder='Enter user name', value=(user)?user.userName:"", required='')
                                                    small#userNameHelp.form-text.text-muted Your bricklink user name (not store name)
                                                .form-group
                                                    label(for='consumerKey') Consumer key
                                                    input#consumerKey.api-input.form-control(name="consumerKey" type='text' aria-describedby='consumerKeyHelp' placeholder='Enter consumer key', value=(user)?user.CONSUMER_KEY:"", required='')
                                                    small#consumerKeyHelp.form-text.text-muted The consumer key publicly identifies your API account
                                                .form-group
                                                    label(for='consumerSecret') Consumer secret
                                                    input#consumerSecret.api-input.form-control(name="consumerSecret", type='text' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret',value=(user)?user.CONSUMER_SECRET:"", required='')
                                                    small#consumerSecretHelp.form-text.text-muted The consumer secret is your confidential API password
                                                .form-group
                                                    label(for='tokenValue') Token Value
                                                    input#tokenValue.api-input.form-control(name="tokenValue", type='text' aria-describedby='tokenKeyHelp' placeholder='Enter Token Value', value=(user)?user.TOKEN_VALUE:"", required='')
                                                    small#tokenValueHelp.form-text.text-muted The token key value for our ip address.
                                                .form-group
                                                    label(for='tokenSecret') Token secret
                                                    input#tokenSecret.api-input.form-control(name="tokenSecret", type='text' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret', value=(user )?user.TOKEN_SECRET:"", required='' )
                                                    small#tokenSecretHelp.form-text.text-muted The token key secret for our ip address.
                                                input#apiButton.btn.btn-primary.btn-lg(type='submit' role='button', value="Update")
                                    li.list-group-item
                                        .banner
                                            i.fas.fa-stopwatch.data-status
                                            span.status-name Inventory updater
                                        .settings
                                            .form-group
                                                i.fas.fa-bullseye
                                                label(for='inventoryInterval').pl-2 Update inventory interval
                                                input#inventoryInterval.form-control-range(value=user.update_interval step="1", min="2", max="60", type='range' oninput="$('#rangeval').html('Every '+$(this).val()+' minutes')")
                                                span#rangeval="Every "+user.update_interval+" minutes"
                                            .form-group
                                                button#update-orders.update-btn.orders.btn.btn-outline-warning(type='button')
                                                    i.pl-1.fas.fa-sync-alt
                                                    span.pl-1 Update all orders
                                                small#tokenSecretHelp.form-text.text-muted This will update every single order from your bricklink account
                                            .form-group
                                                button#update-inventory.update-btn.inventory.btn.btn-outline-warning(type='button')
                                                    i.pl-1.fas.fa-sync-alt
                                                    span.pl-1 Update all inventory items
                                                small#tokenSecretHelp.form-text.text-muted This will update your inventory from your bricklink account
                                    li.list-group-item
                                        .banner
                                            i.fas.fa-user.data-status
                                            span.status-name My Fyrebrick account
                                        .settings
                                            .form-group
                                                i.fas.fa-exchange-alt
                                                span.pl-2 Bricklink API call amount:
                                                ul.list-group.list-group-flush
                                                    li.list-group-item
                                                        span.pl-1 daily:
                                                        span.pl-1=user.API_call_amount.daily.toLocaleString()+" times"
                                                    li.list-group-item
                                                        span.pl-1 total:
                                                        span.pl-1=user.API_call_amount.total.toLocaleString()+" times"
                                            .form-group
                                                i.fas.fa-cogs
                                                span.pl-2 Manage your account
                                                ul.list-group.list-group-flush
                                                    li.link-banner.red.list-group-item
                                                        i.pl-1.fas.fa-trash-alt
                                                        span.pl-1 remove your account
                                                    li.link-banner.yellow.list-group-item
                                                        i.pl-1.fas.fa-file-download
                                                        span.pl-1 download your data

block modals
block scripts
    script(src="/js/settings.js")
