extends layout
block content
    table#table_id.display
        thead
            tr
                th.data-class-name Order Id
                th Date Ordered
                th Buyer name
                th Status
block nav-items
    include _nav-items-status
block scripts
    script.
        console.log("#{status}")
        $(document).ready(function () {
            $('#table_id').DataTable({
                ajax: {                    url: '/api/status/'+"#{status}", dataSrc: 'data'                },
                columns:[
                    {                        data:'order_id',
                        "render": function (data, type, row, meta) {
                            return "<a href=\"\/orders\/"+data+"\/items\" id=\"order_id\""+data+"\" class=\"badge badge-primary\" >" + data + "</a>";}
                    },
                    {                        data:'date_ordered',
                        render:function(data,type,row,meta){
                            let d = new Date(data);
                            const options = { year: 'numeric', month: 'long', day: 'numeric'};
                            return d.toLocaleDateString('nl-BE', options)+" om "+d.toLocaleTimeString('nl-BE', { hour: '2-digit', minute: '2-digit' })}
                    },
                    {data:'buyer_name'},
                    {data:'status',
                        render:function(data,type,row,meta){
                            switch(data){
                                case 'COMPLETED':
                                    return "<i class=\"fas fa-check-double data-status\"></i>";
                                case 'READY':
                                    return "<i class=\"fas fa-check data-status\"></i>";
                                case 'PAID':
                                    return "<i class=\"fas fa-dollar-sign data-status\"></i>";
                                case 'PACKED':
                                    return "<i class=\"fas fa-box data-status\"></i>";
                                case 'SHIPPED':
                                    return "<i class=\"fas fa-shipping-fast data-status\"></i>";
                                case 'RECEIVED':
                                    return "<i class=\"fas fa-box-open data-status\"></i>";
                                case 'UPDATED':
                                    return "<i class=\"fas fa-clipboard-list data-status\"></i>";
                                case 'PENDING':
                                    return "<i class=\"fas fa-hourglass data-status\"></i>";
                            }
                        }}
                ]
            });
        });
