extends layout
block content
    table#table_id.display
        thead
            tr
                th.data-class-name Order Id
                th Date Ordered
                th Buyer name
                th Status
block styles
    link(rel="stylesheet", href="/css/status.css")
        
block scripts
   script(src="/js/status.js")
        