#fyrebrick img{
    width: 200px;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.contents{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #e8e8e8;
    overflow-y: auto;
    overflow-x: hidden;
}
.sort-button{
    position: relative;
    padding-left: 10px;
}
.sort-inactive{
    color: rgb(0 0 0 / 25%);
}
.sortable:hover{
    background-color: rgba(88, 88, 88, 0.349);
}
.sort-box{
    display: inline;
}
.button{
    
}
.table-responsive{
    margin-bottom: 15%;
}