#fyrebrick img{
    width: 200px;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.contents{
    /* height: 100%; /*Because of smart-scroll/*   */
    width: 100%;
    /* position: fixed; /*Because of smart-scroll/*   */
    background-color: #e8e8e8;
    overflow-y: auto;
    overflow-x: hidden;
}
.sortable{
    cursor: pointer;
}
.sort-button{
    position: relative;
    padding-left: 10px;
}
.sort-inactive{
    color: rgb(0 0 0 / 25%);
}
.sortable:hover{
    background-color: rgb(216 216 216);
}
.sort-box{
    display: inline;
}
.button{
    
}
.passwordEye{
    position: relative;
    margin: -27px 10px;
    float: right;
    color: #bbb;
}
.passwordEye:hover{
    color:#3e3d3d;
}