.bl_img{
    width:200px;
    border-radius: 15px;
    min-width: 80px;
}
.checkbox_box{
    margin-top:45px;
}
.checkbox-scale{
    -ms-transform: scale(3); 
    -moz-transform: scale(3); 
    -webkit-transform: scale(3); 
    -o-transform: scale(3);
    transform: scale(3);
}
.info{
    padding-top: 5%;
}
.info:last-child{
    padding-bottom: 25px;
}
.qtbox{
    border:1px solid black;
    display:inline;
    border-radius:10px;
    box-shadow: 2px 2px 5px grey;
    padding: 0 5px 0 5px;
    background-color: #FFFFFF;
}
.quantity{
    
}
.color_name{

}
.remarks{
    font-size: 32px;
}
.main-info{
    text-align: center;
    font-size: 24px;
}
.info-text{
    font-weight: 700;
}
.checkbox-row{
    text-align: center;
}
.color_name .badge{
    box-shadow:2px 2px 5px grey;
}
.new_or_used{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    padding: 1px 4px 1px 4px;
    transform: translate(9rem, -2rem);
    font-size: 19px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #717273a1;
    color: #FFFFFF;
}
.row_checked{
    background: rgb(255,255,255);
    background: #2ece5387;
    border-left: 10px solid darkgreen;
}
#enlargedImg{
    width: 100%;
    border-radius: 10px;
}
thead th:last-child{
    min-width:6rem;
}
@media (max-width:552px){
    .info{
        font-size: 15px;
    }
    .remarks{
        font-size: 22px;
    }
    .new_or_used{
        transform: translate(0rem, -2rem)
    }
    .checkbox-scale {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}