.mt-100 {
    margin-top: 70px
}
.options-bar{
    height: 0;
    z-index: 1000;
    width: 100px;
    position: absolute;
    right: 41px;
}
.pdfCheckbox{
    -ms-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    z-index: 1000;
}
.label-checked:hover{
    background:  #d61f1f7a !important;
    background-color: #d61f1f7a !important;
}
.label-checked{
    
    background:  #d61f1f7a !important;
    background-color: #d61f1f7a !important;
}
.options-bar button{
    height: 57px;
}
.hide{
    display: none;
}
.card {
    margin-bottom: 30px;
    border: 0px;
    border-radius: 0.25rem;
    box-shadow: 0
    px 1px 15px 1px rgba(69, 65, 78, 0.08)
}
.order_id{
    padding:8px 5px 7px 5px;
}
thead th:nth-child(4){
    min-width: 117px;
}
thead th:nth-child(3){
    min-width: 67px;
}
thead th:nth-child(2){
    min-width: 88px;
}
thead th:nth-child(1){
    min-width: 115px;
}
.card .card-body {
    padding: 1.88rem 1.81rem
}
.table thead th {
    border-bottom: none;
    border-top: none;
    vertical-align: middle;
    text-align: center;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}
tbody td {
    text-align: center;
    vertical-align: inherit;
}
.progress-numbers{
    position: relative;
    font-weight: 500;
    padding: 0;
    margin: 0;
    width: auto;
    transform: translate(0, -22px);
}
.status-name{
    /*names*/
    font-size: 14px;
    padding: 0 3px 0 10px;
}
.data-status{
    font-size: 14px;
    padding-left: 3px;
    /*icons*/
}
.status-badge{
    padding: 7px;
    min-width: 100px;
}
tr{
    border-radius: 10px;
    cursor: pointer;
    background: rgb(235,235,235);
    background: linear-gradient(to left, #ffffff00 0%, rgb(178, 215, 255) 100%) right;
    background-size: 2000%;
    transition: .1s ease-out;
    transition: .3s ease-in;

}
tbody tr:hover{
    background-position: left;

}
.order_number{
    font-size: 29px;
    position: relative;
}
.progress{
    margin-top: 4px;
}
@media (max-width:716px){
    .status-name{
        display: none;
    }
    .badge-pill{
        min-width: 30px;
    }
    .data-status{
        padding-left:0px;
    }
}
@media (max-width:643px){
    .long_date{
        display: none;
    }
    .short_date{
        display: block;
    }
}
@media (min-width:644px){
    .short_date{
        display: none;
    }
    .long_date{
        display: block;
    }
}

@media (min-width:409px){
    .progress-small{
        display: none;
    }
    .order_id{
        font-size: 60%;
    }
}
@media (max-width:573px){

    .table td, .table th{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media(max-width:1000px){
    .options-bar{
        display:none;
    }
}
@media (max-width:472px){
    .order_date{
        display: none;
    }
    .order_id{
        font-size: 40%;
    }
    .progress{
        display: none;
    }
    .progress-numbers{
        display: none;
    }
    th{
        width: 33%;
    }
    .progress-small{
        display: inline;
        font-weight: 400;
        padding: 2px 10px 2px 10px;
        border-radius: 7px;
        font-size: 14px;
        top: 5px;
        position: relative;
    }
    .order-date{
        display:none;
    }
    .card .card-body{
        padding:0 !important;
        margin:0 !important;
    }
}

