.bl_img{
    width:150px;
    min-width: 80px;
    font-size: 9.3rem;
}

.img_err{
    margin-bottom: -18px;
}
.stock_img_err{
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.checkbox_box{
}
.badge{
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    max-width: 127px;
}
.new_or_used-big{
    font-size: 24px;
    text-align: center;
    vertical-align: inherit;
}
.checkbox-scale{
    -ms-transform: scale(4.3); 
    -moz-transform: scale(4.3); 
    -webkit-transform: scale(4.3); 
    -o-transform: scale(4.3);
    transform: scale(4.3);
}
.stock{
    position: relative;
    transform: translate(0px, -22px);
    font-size: 16px;
    background-color: white;
    width: 150px;
    min-width: 80px;
    color: white;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: rgb(0 0 0 / 35%);
}
.info{
    padding-top: 5%;
}
td:first-child{
    vertical-align: inherit;
}
.all-info{
    display: flex;
    justify-content: space-evenly;
}
.qtbox{
}
.quantity{
    
}
.color_name{

}
.used-new-head{
    min-width: 76px;
}

.modal-footer{
    justify-content: center !important;
}
td{
    vertical-align: inherit !important;
}
thead th:nth-child(2),thead th:nth-child(3),thead th:nth-child(4){
    text-align: center;
}
.remarks{
    font-size: 32px;
    border:1px solid black;
    display:inline;
    border-radius: .25rem;
    padding: 0 5px 0 5px;
    background-color: #FFFFFF;
}
.main-info{
    text-align: center;
    font-size: 32px;
}
.main-info div, .side-info div{
    
}
.color_name{
    font-size: 27px;
}
.info-text{
    font-weight: 700;
}
.checkbox-row{
    text-align: center;
}
.remove me {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    padding: 1px 4px 1px 4px;
    transform:translate(6rem, -2rem);
    font-size: 19px;
    font-weight: 500;
    border-radius: .25rem;
    background-color: #717273a1;
    color: #FFFFFF;
}
.row_checked{
    background: #c1fcce87 !important;
    border-left: 10px solid #3ba93b;
}
.row_checked:nth-child(even){
    background: #9decb087 !important;
    border-left: 10px solid darkgreen;
}
#enlargedImg{
    width: 100%;
    border-radius: 10px;
}
thead th:last-child{
    min-width:6rem;
}
tbody tr:nth-child(even){
    background-color: #f1f1f1;
}
.new_or_used-small{
    display: none;
}
tr td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
@media (max-width:541px ){
    .info{
        font-size: 27px;
    }
    .color_name{
        font-size: 23px;
    }
    .new_or_used-big{
        display: none;
    }
    .new_or_used-small{
        display: block;
        
        font-size: 24px;
        text-align: center;
        vertical-align: inherit;
    }
    .bl_img, .stock{
        width:100px;
    }
    .bl_img{
        font-size: 6.3rem;
    }
    .checkbox-scale{
        -ms-transform: scale(3); 
        -moz-transform: scale(3); 
        -webkit-transform: scale(3); 
        -o-transform: scale(3);
        transform: scale(3);
    }
    .remarks{
        font-size:4vw;
    }
    .img_err{
        margin-bottom: -18px;
    }
}
@media (max-width:462px){
    .bl_img, .stock {
        width: 75px;
    }
    .bl_img{
        font-size: 5.0rem;
    }
    .checkbox-scale{
        -ms-transform: scale(2); 
        -moz-transform: scale(2); 
        -webkit-transform: scale(2); 
        -o-transform: scale(2);
        transform: scale(2);
    }
    .img_err{
        margin-bottom: -9px;
    }
}
@media (max-width:400px){
    #order_data{
        padding: 0 10px 0 10px !important;
    }
}
/**https://algoart.fr/articles/css-table-fixed-header**/
body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
 
  .table-responsive{
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    /* padding-bottom: 50vh; */
  }
  
  .table-responsive th{
      position: sticky;
      top: 0;
      background-color: white;
    top: -2px;

    border-bottom: 2px solid #dee2e6;
    z-index: 40;
  }
  
  table{
    border-collapse: collapse;
  }
  /**end**/
  .table td, .table th {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.contents{
    overflow-y:hidden;
}
@media (max-height:320px){
    .table-responsive{
        height: 38vh;
    }
}

@media (min-height: 320px) and (max-height:417px){
    .table-responsive{
        height: 46vh;
    }
}

@media (min-height: 417px) and (max-height: 502px){
    .table-responsive{
        height: 57vh;
    }
}

@media (min-height: 502px) and (max-height: 555px){
    .table-responsive{
        height: 62vh;
    }
}

@media (min-height: 555px) and (max-height: 639px){
    .table-responsive{
        height: 68vh;
    }
}

@media (min-height: 639px) and (max-height: 752px){
    .table-responsive{
        height: 73vh;
    }
}

@media (min-height: 752px) and (max-height: 923px){
    .table-responsive{
        height: 78vh;
    }
}

@media (min-height: 923px) and (max-height: 1107px){
    .table-responsive{
        height:82vh;
    }
}

@media (min-height: 1107px) and (max-height: 1343px){
    .table-responsive{
        height: 85vh;
    }
}

@media (min-height:1343px ) and (max-height:1617px ){
    .table-responsive{
        height: 88vh;
    }
}
@media (min-height:1617px ){
    .table-responsive{
        height: 90vh;
    }
}