td {
    font-size: 41px;
    font-weight: bold;
}

.badge-primary {
    padding: 20px;
}

[type="search"] {
    font-size: 41px;
}
.options-bar{
    height: 0;
    z-index: 1000;
}
.labelBtn{
    height: 100px;
}