
extends ../layout
block styles
block content
    .container-fluid
        .row
            .col
                .card
                    .card-body
                        a.btn.btn-primary(role='button' href='/my/inventory/search') search
                        //a. btn.btn-primary(role='button' href='/my/inventory/investigate') investigate
                        //a.btn.btn-primary(role='button' href='/my/inventory/add') add
block modals
block scripts
