
extends ../layout
block styles
    link(rel="stylesheet", href="/css/inventory.css")
block content
    .container-fluid
        .row
            .col
                .card
                    .card-body
                        .jumbotron
                            a.btn.btn-primary(role='button' href='/my/inventory/search') 
                                i.fab.fa-searchengin.data-status
                                span.status-name search
                            i.text-line.fas.fa-minus
                            span.lead  Search your inventory by remarks
                            hr.my-4
                            p.lead More tools coming soon...
                            //a.btn.btn-primary(role='button' href='/my/inventory/investigate') 
                                i.far.fa-eye.data-status
                                span.status-name investigate
                            //p.lead Tool to find all duplicates inventory items in different remarks
                                span.badge.badge-warning In development
                            //hr.my-4
                            //a.btn.btn-primary(role='button' href='/my/inventory/add')
                                i.far.fa-plus-square.data-status
                                span.status-name Add Items
                            //p.lead Tool to add new items to your inventory
                                span.badge.badge-warning In development



block modals
block scripts
