extends ../layout
block content
    .container-fluid
        canvas#myChart
        .list-group
            a.list-group-item.list-group-item-action(href='/stats/total') Amount of total bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Amount of total unique bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Most common bricks
            a.list-group-item.list-group-item-action(href='#myChart') Most common brick colours
            a.list-group-item.list-group-item-action.disabled(href='#') Most sold bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Most sold brick colours
block scripts
    script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
    script.
        window.onload = function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: JSON.parse("#{data}".replaceAll('&quot;', '"')),
                // Configuration options go here
                options: {}
            });
        }


