extends ../layout
block content
    .container-fluid
        .list-group
            a.list-group-item.list-group-item-action(href='/stats/stores') Top list of Bricklink stores
            a.list-group-item.list-group-item-action(href='/stats/total') Amount of total bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Amount of total unique bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Most common bricks
            a.list-group-item.list-group-item-action(href='/stats/common_brick_colours') Most common brick colours
            a.list-group-item.list-group-item-action.disabled(href='#') Most sold bricks
            a.list-group-item.list-group-item-action.disabled(href='#') Most sold brick colours

block styles

block scripts
