extends ../layout
block styles
    style.
        td {
            font-size: 41px;
            font-weight: bold;
        }

        .badge-primary {
            padding: 20px;
        }

        [type="search"] {
            font-size: 41px;
        }
block content
    .container-fluid
        .list-group
            a.list-group-item.list-group-item-action.active(href='#') Top list of Bricklink stores
            a.list-group-item.list-group-item-action(href='/stats/total') Amount of total bricks
            a.list-group-item.list-group-item-action(href='#myChart') Most common brick colours
            //a.list-group-item.list-group-item-action.disabled(href='#') Amount of total unique bricks
            //a.list-group-item.list-group-item-action.disabled(href='#') Most sold bricks
            //a.list-group-item.list-group-item-action.disabled(href='#') Most sold brick colours
            //a.list-group-item.list-group-item-action.disabled(href='#') Most common bricks
        h3.display-4.text-center Top list of Bricklink stores
        hr
        .d-flex.justify-content-center
            .btn-group(role='group' aria-label='Basic example')
                a.btn.btn-primary(role='button', href="/stats/stores/lots") Top lots
                a.btn.btn-danger(role='button', href="/stats/stores/views") Top Views
                a.btn.btn-success.active(role='button', href="/stats/stores/items") Top Items

